  {% load static %}
  
  <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_blog:myblog' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_blog:about' %}">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% static 'pdf/CV_VoMinhTri.pdf' %}">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'my_blog:contact' %}">Contact</a>
          </li>
        </ul>
      </div>  

